h3 {
    display: flex;
    justify-content: center;
    text-align: center;
}
#nome {
    width: 300px;
}
.dados {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    align-items: space-between;
    padding: 20px 20px 20px 20px;
}
.l-n {
    padding-right: 30px;
    font-weight: bold;
}
.textarea {
    width: 467px;
    height: 50px;
}
.info {
    display: grid;
    grid-template-columns: 180px 150px 150px;
}
input {
    width: 50px;
    font-size: 18px;
    padding-left: 50px;
}
.taxas {
    display: flex;
    position: relative;
}